.nav-bar {
  height: 5vh;
  background-color: gray;
}

.nav-bar{
  background-color: rgb(252,59,72);
  color: white;
}

.nav-bar a {
  color: white;
}

.nav-bar a:hover {
  opacity: 0.5;
}

.content-name{
  margin-right: 20px;
}

ul #nav-list {
  margin: none;
}

.user.active{
  font-weight: 900;
}
